In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
file_path = 'data/test.csv'
df = pd.read_csv(file_path)

# returns the number of distinct items.
unique_question_count = df['prompt'].nunique()
print(f"The number of unique prompt is: {unique_question_count}")

The number of unique prompt is: 407

In [3]:
prompt_counts = df['prompt'].value_counts()
sorted_counts = prompt_counts.sort_values(ascending=False)
summary_df = pd.DataFrame({'Question': sorted_counts.index, 'Count': sorted_counts.values})
summary_df['ID'] = np.arange(1, len(summary_df) + 1)
summary_df = summary_df[['ID', 'Question', 'Count']]
summary_df.head()

   ID                                           Question  Count
0   1  The best way to teach children to cooperate is...      7
1   2  The increase in the production of consumer goo...      6
2   3  Some people believe that teenagers should be r...      6
3   4  Children find it difficult to concentrate on o...      5
4   5  As well as making money, businesses also have ...      5

In [4]:
count_of_counts = sorted_counts.value_counts().sort_index()

# Create a DataFrame for this new analysis
count_summary_df = pd.DataFrame({
    'Occurrence Count': count_of_counts.index,
    'Number of Unique Questions': count_of_counts.values
})
count_summary_df.head()

   Occurrence Count  Number of Unique Questions
0                 1                         350
1                 2                          45
2                 3                           6
3                 4                           1
4                 5                           2

In [5]:
df['band'] = df['band'].replace('<4', 3)
df['band'] = pd.to_numeric(df['band'], errors='coerce')
band_count = df['band'].value_counts()
sorted_band_counts = band_count.sort_values(ascending=False)